terraform/.terraform/
terraform/tfplan
terraform/*.tfplan
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/crash.log
terraform/crash.*.log
.env
.env
